# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

menu "BTHome temperature sensor type"

	choice TEMPERATURE_SENSOR_TYPE
		prompt "Temperature sensor type"
		default SENSOR_TMP112

	config SENSOR_TMP112
		bool "Texas Instruments TMP112"
		select I2C

	config SENSOR_DS18B20
		bool "Maxim DS18B20"
		select W1

	endchoice

endmenu

source "Kconfig.zephyr"
